#content {
  margin: 0 auto;
  width: 900px;
}

#byline {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-style: italic;
}

#masthead {
  text-align: center;
  width: 100%;
  background-size: cover;
}

h1 {
  font-family: Helvetica, sans-serif;
  text-align: center;
  width: 900px;
}

h2 {
  text-align: center;
}

p {
  margin: 0 auto;
  font-family: Georgia, serif;
  font-size: 13px;
}

img {
  margin: 0 auto;
  width: 550px;
}

blockquote {
  display: large;
  font-size: 28px;
  font-family: Georgia, serif;
  text-align: left;
}

.caption {
  font-size: 8px;
}

.col-md-6 {
    max-width: 500px;
    margin: 0 auto;
}

#gif {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.readmore {
    font-family: Georgia, serif;
    font-size: 18px;
}
