/* This is the css for my resume project */
img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.subhead {
  margin-top: 0px;
  padding-top: 30px;
  padding-left: 15px;
  color: #955D59;
  text-align: left;
  font-size: 30px;
  font-family: Sinhala MN;
}

#top {
  font-family: Helvetica Neue;
  color: #84747A;
  padding-left: 55px;
  text-align: left;
  font-size: 15px;
  margin: 0 auto;
}

.nav-link {
    margin-right: 0px;
    margin-left: 0px;
    padding: 10px 20px 0px 20px;
    font-size: 18px;
    color: #84747A;
    white-space: nowrap;
    font-family: Helvetica Neue;
}

.navbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 20px;
    padding-left: 0px;
    padding-bottom: 0px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: transparent;
}

.img-wrap {
  width: 300px;
}

body {
  font-family: Helvetica Neue;
  font-size: 15px;
  color: #84747A;
}

.row {
  display: inline;
  max-width: 600px;
  float: none;
  margin: 0 auto;

}

.img-fluid {
  margin: 0 auto;
  border: 5px solid #84747A;
}

.contact {
  padding-left: 15px;
  color: #955D59;
  text-align: right;
  font-size: 30px;
  font-family: Sinhala MN;
}

.experience {
  background-color: #DCD5CF;
}

.col-md-6 {
  margin: 0 auto;
  max-width: 500px;
}

.jobtitle {
  font-weight: 600;
  font-size: 1.5em;
}

.organization {
  font-weight: 400;
  font-size: 1.0em;
  font-style: italic;
}

.edu {
  background-color: #DCD5CF;
  text-align: center;
  list-style-type: none;
}

.skills {
  text-align: center;
  list-style-type: none;
}
