/* this is a comment */

/* style for my resume */

/* this alters the body */

#container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.menu li {
  display: inline;
  text-align: center;
  padding: 0px;
  margin: 0 auto;
}

body {
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 1em;
  color: #444;
  font-weight: 400;
}

/* commenting out image */
img {
  display: none;
}

/* style for name */
#name {
  color: #33485e;
  text-align: center;
  font-size: 3.5em;
  text-transform: uppercase;
  border-bottom: 2px solid #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}

/* style for title */
#title {
  font-weight: 600;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 0px;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
  text-transform: uppercase;
  color: #33485e;
}

/* style for experience + subheadings */
.sectionheader {
  text-transform: uppercase;
  font-size: 1.5em;
  color: white;
  background-color: #33485e;
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
  width: 70%;
  min-width: 300px;
}

/* style for job titles */
.jobtitle {
  font-weight: 600;
  font-size: 2em;
}

/* style for job location  */
.organization {
  font-weight: 400;
  font-size: 1.5em;
}

/* style for dates */
.date {
  font-weight: 400;
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

/* style for description */

.description {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
}

/* style for skills and education */
#degrees {
  font-size: 1em;
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

#skills {
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

#top {
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
  margin-bottom: 0px;
}
