/* this is a comment */

/* style for my resume */

/* this alters the body */

#container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}


body {
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 1em;
  color: #444;
  font-weight: 400;
}

/* commenting out image */
img {
  display: none;
}

/* style for name */
#name {
  color: #33485e;
  text-align: center;
  font-size: 3.5em;
  text-transform: uppercase;
  border-bottom: 2px solid #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}

/* style for title */
h1 {
  font-weight: strong;
  text-transform: uppercase;
  font-size: 1.5em
}

/* style for experience + subheadings */
.sectionheader {
  text-transform: uppercase;
  font-size: 1.5em;
  color: white;
  background-color: #33485e;
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
  width: 70%;
  min-width: 300px;
}

/* style for job titles */
h3 {
  font-weight: 600;
  font-size: 2em;
}

/* style for job location  */
h4 {
  font-weight: 400;
  font-size: 1.5em;
}

/* style for dates */
h5 {
  font-weight: 400;
  font-size: 1em;
}

/* style for skills and education */
li {
  font-size: 1.5em;
}
