/* this is a comment */

/* style for my resume */

body {
  font-family: open sans, arial, sans-serif;
  size: 1em;
  color: #444;
  font-weight: 400;
}

h1 {
  color: #33485e;
  size: 36em;
  text-transform: uppercase;
}

strong {
  text-transform: uppercase;
  size: 1.5em
}

h2 {
  text-transform: uppercase;
  size: 1.5em;
  color: white;
  background-color: #33485e;
  font-weight: 400;
}

h3 {
  font-weight: 600;
  size: 2em;
}

h4 {
  font-weight: 400;
  size: 1.5em;
}

h5 {
  font-weight: 400;
  size: 1em;
}

li {
  font-size: 1.5em;
}
