#content {
  margin: 0 auto;
  width: 900px;
}

h1 {
  font-family: Georgia, serif;
  text-align: center;
}

#masthead {
  text-align: center;
  width: 100%;
  background-size: cover;
}

#byline {
  font-family: Helvetica, Arial, sans-serif;
  size: 12px;
  text-align: center;
}

p.story {
  font-family: Helvetica, Arial, sans-serif;
  size: 12px;
}

.subhead {
  size: 20px;
}


blockquote {
  display: large;
  font-size: 28px;
  font-family: Georgia, serif;
  text-align: left;
}

p.img-cap {
  margin: 0 auto;
  font-size: 13px;
  font-family: Helvetica;
}

img {
  margin: 0 auto;
  width: 400px;
}

.col-md-6 {
    max-width: 400px;
    margin: 0 auto;
}

/* i'm not sure why this isn't working and it's making me sad */

@media screen and (max-width: 300px) {
        #content {
          margin: 0 auto;
          width: 100%;
        }

        .story {
          margin: 0 auto;
          width: 100%;
        }

        h2 {
          padding-top: 50px;
        }

        .col-md-6 {
          margin: 0 auto;
        }

        img {
          margin: 0 auto
        }

        blockquote {
          text-align: center;
          size: 20px;
        }
  }
