#content {
  margin: 0 auto;
  width: 60%;
}

h1 {
  font-family: Georgia, serif;
  text-align: center;
}

body {
  margin: 0px;
}

#masthead {
  text-align: center;
  width: 100%;
  background-size: cover;
}

.img-wrap {
  width: 400px;
}

#byline {
  font-family: Helvetica, Arial, sans-serif;
  size: 12px;
  text-align: center;
}

.story {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.subhead {
  font-size: 18px;
}

blockquote {
  display: large;
  font-size: 27px;
  font-family: Georgia, serif;
  text-align: left;
}

p.img-cap {
  margin: 0 auto;
  font-size: 14px;
  font-family: Helvetica;
}

.img-fluid {
  width: 100%;
}

@media screen and (min-width: 900px) {

    .story {
      margin: 0 auto;
      width: 100%;
    }

    h2 {
      padding-top: 50px;
    }

    .row {
      display: grid;
      grid-template-columns: 0.2fr 0.9fr;
    }

    .row-wide-img {
      grid-template-columns: 0.4fr 0.8fr;
    }

    .img-wrap {
      margin: auto;
      padding-right: 1em;
    }

    .wrap-text {
      margin: auto;
    }

    blockquote {
      text-align: center;
      size: 20px;
    }
  }
